/* Estilos para el carro */
#car-container {
    background-color: #ccc;
    width: 800px;
    height: 600px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: relative;
    margin: 30px auto 0;
}

.mileage {
    width: 200px;
    height: 150px;
    border-radius: 10%;
    background-color: #fff;
    border: 2px solid #999;
    font-size: 36px;
    color: #666;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 10px;
    top: 10px;
}

#car {
    width: 200px;
    height: 400px;
    background-color: #444;
    position: absolute;
    border-radius: 60px 60px 40px 40px;
    overflow: hidden;
    right: 300px;
    top: 100px;
}

.front-wheels {
    width: 30px;
    height: 65px;
    background-color: rgb(0, 0, 0);
    border-radius: 30%;
    position: absolute;
}

.wheels {
    width: 30px;
    height: 65px;
    background-color: rgb(0, 0, 0);
    border-radius: 30%;
    position: absolute;
}

#wheels-front-left {
    left: 10px;
    top: 50px;
    /* transform: rotate(30deg); */
}
#wheels-front-right {
    right: 10px;
    top: 50px;
}
#wheels-back-left {
    left: 10px;
    bottom: 30px;
}
#wheels-back-right {
    right: 10px;
    bottom: 30px;
}

/* Panel de Control */
#control-panel {
    background-color: #999;
    width: 800px;
    height: 200px;
    margin-top: 20px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    margin: 10px auto 0;
}

button {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    float: left;
}

/* Para cambiar el color de las luces y otros controles */
.lights-on {
    background-color: yellow;
}